h2 Item Search Results
table(class="table table-striped")
	tr
		th Item ID
		th Title
		th Category
	- each item in items 
		tr
			td #{item.ItemID}
			td 
				a(href="#",class="item-search-result-list-element",data-id="#{item.ItemID}",data-category='#{item.category}') #{item.Title}
			td #{item.category}			
div.modal.fade.hide(id="item-details-modal")