h2 Current Staff &nbsp;
	a(class="btn btn-primary",data-toggle="modal", href="#new-staff-modal")
		i(class="icon-white icon-plus")
		| Add New
hr
table(class="table table-striped")
	tr
		th Staff ID
		th Name
		th Date of Birth
		th No. of checked-out books
		th Amount of Charged Money
	- each User in users 
		tr 
			td #{User.StaffID}
			td #{User.name}
			- var t = ((User.DateOfBirth.toString())).split(" ");
			- var b = t.splice(0,4);
			- b = b[1] + " " + b[2] + " " + b[3];
			td #{b}
			td #{User.count}
			td #{User.money} TL
div.modal.fade.hide(id="new-staff-modal")
	div.modal-header
			a.close(data-dismiss="modal") ×
			h3 Add New Staff
		div.modal-body
			form(class="form-horizontal",id="addStaffForm")
				fieldset
					div(class="control-group")
						label(class="control-label") User Name
						div(class="controls")
							input(type="text",class="input-medium",id="name")
					div(class="control-group")
						label(class="control-label") Password
						div(class="controls")
							input(type="password",class="input-medium",id="password")
					div(class="control-group")
						label(class="control-label") Birthday
						div(class="controls")
							input(type="text",class="input-medium",id="birthday")
		div.modal-footer
			a(href="#",class="btn btn-primary",id="addStaffBtn") Add Staff
			a(href="#",class="btn",data-dismiss="modal") Close