h1 Borrows
table(class="table table-striped")
	thead
		tr
			th # Book ID
			th Book Name
			th Borrow Date
			th Return Date
			th
	tbody
		- each Item in borrows
			tr
				td #{Item.ItemID}
				td #{Item.Title}
				td #{Item.BorrowDate}
				td #{Item.ValidUntil}
				td
					- if (  Item.IsPassed == 1)
						span.label.label-important Return date is passed, please return immediately!
					- else if (Item.MaxExtensionBreached == 1)
						span.label.label-warning Maximum extensions breached
					- else
						a(class="btn extend-item", data-item="#{Item.ItemID}") Extend
h1	Reserves
table(class="table table-striped")
	thead
		tr
			th # Book ID
			th Book Name
			th Reservation Valid Until
			th
	tbody
		- each Item in reserves
			tr(id="reservation-row-#{Item.ItemID}")
				td #{Item.ItemID}
				td #{Item.Title}
				td #{Item.ValidUntil}
				td
					a(class="btn btn-danger cancel-reservation", data-id="#{Item.ItemID}") Cancel reservation