h1 Welcome, #{name}
div We have some interesting details about you.
table(class="table table-striped")
	tr
		th Membership ID
		td #{id}
	tr
		th Member Since
		td #{start}
	tr
		th Membership Expiration
		td #{expire}
	tr
		th Your age in days:
		td #{birth}				
	tr
		th Books Currently On You
		td #{booksOn}
	tr
		th Books Reserved So Far
		td #{reserved}
	tr
		th Media Rooms Reserved So Far
		td #{media}
	tr
		th Books Borrowed So Far
		td #{borrowed}
div(class="row")
	div(class="span6")
		div(class="alert alert-error")
			a(class="close",data-dismiss="alert") ×
			h3(class="alert-heading") You have many books !
			span You reachted the limit of the books that you can take away. Consider returning them, so another good people like you can read them also.
	div(class="span6")
		div(class="alert alert-warning")
			a(class="close", data-dismiss="alert") ×
			h3(class="alert-heading") Memership period ending!
			span Your membership is ending in 25 days, come to library to extend your membership and continue using benefits of the library.

