.row
	.span6 
		h1 #{numbers.age.Total} users
		hr
		h3 #{numbers.age.Oldest} years old (oldest)
		h3 #{numbers.age.Youngest} (youngest)
		h3 #{numbers.age.Average} 30 age average
	.span6
		h3 34 books
		h3 43 videos
		h3 78 audios
		h3 15 ematerials	
		hr	
		h4 #{numbers.item.Borrows} checkins so far
		h4 #{numbers.item.Reserves} reserves so far
		h4 #{numbers.item.CurrentlyOut} items are currently at members
legend Graphs
.btn.btn-info#stat-age Users by age
.btn.btn-info#stat-active Staff by activeness
#graphArea

