div.well
	| &nbsp;
	input(type="text",class="search-query",id="searchUserDetailsName",placeholder="Enter User ID") 
	| &nbsp;
	a(href="#", class="btn btn-success",id="searchUserDetailsBtn")
		i(class="icon-white icon-search")
		|  Search
	span Enter the user id to check-out, check-in items, or to extend his/her membership.
hr
- if ( !found)
	div.alert.alert-error
		h2 The user ID #{userID} cannot be found.
- else if (userID)
	div.well
		div.row-fluid
			div.span6
				h2 Check-in A New Item
				input(type="text",class="search-query",id="checkin-search-id",placeholder="Enter Item ID") 
				| &nbsp;
				a(href="#", class="btn btn-primary",id="checkin-search-btn")
					i(class="icon-white icon-search")
					|  Search
			div.span6
				h1 #{name}
				ul
					li Member since 2011
					li Currently has 5 books in reserve
					li Currently has 3 books on him
					li Birthday #{birth}
				a.btn.btn-info Extend Membership
	hr
	h3 The Items that are on user
	table(class="table table-striped")
		tr
			th Item ID
			th Title
			th Borrowed On
			th
		- each item in items
			- var t = (item.BorrowDate.toString()).split(" ");
			- var d = t[0] + " " + t[1] + " " + t[2] + " " + t[3];
			tr
				td #{item.ItemID}
				td #{item.Title}
				td #{d}
				td 
					a(class="btn",data-toggle="modal", href="#extend") Extend
					a(class="btn",data-toggle="modal", href="#check-out") Check-out
	div.modal.fade.hide(id="book-search-results")
	div.modal.fade.hide(id="check-out")
		div.modal-header
				a.close(data-dismiss="modal") ×
				h3 Check Out
			div.modal-body
				p Checking out this item requires 50 TL payment.
				h3 Accept only if the payment is recieved.
			div.modal-footer
				a(href="#",class="btn") Close
				a(href="#",class="btn btn-primary") Process Payment	
