div.well
	| &nbsp;
	input(type="text",class="search-query",id="searchUserDetailsName",placeholder="Enter User ID") 
	| &nbsp;
	a(href="#", class="btn btn-success",id="searchUserDetailsBtn")
		i(class="icon-white icon-search")
		|  Search
	span Enter the user id to check-out, check-in items, or to extend his/her membership.
hr
- if ( !found)
	div.alert.alert-error
		h2 The user ID #{userID} cannot be found.
- else if (userID)
	div.well
		div.row-fluid
			div.span6
				h2 Check-in A New Item
				input(type="text",class="search-query",id="checkin-search-id",placeholder="Enter Item ID") 
				| &nbsp;
				a(href="#", class="btn btn-primary",id="checkin-search-btn")
					i(class="icon-white icon-search")
					|  Search
			div.span6
				h1 #{name}
					| &nbsp;
					a.btn.btn-info#extend-membership-btn(data-id="#{userID}")
						i.icon.icon-upload.icon-white
						| &nbsp; Extend Membership
	hr
	h3 The Items that are on user
	table(class="table table-striped")
		tr
			th Item ID
			th Title
			th Borrowed On
			th
		- each item in items
			- var t = (item.BorrowDate.toString()).split(" ");
			- var d = t[0] + " " + t[1] + " " + t[2] + " " + t[3];
			tr
				td #{item.ItemID}
				td #{item.Title}
				td #{d}
				td
					a(class="btn check-out",data-item="#{item.ItemID}",data-user="#{item.UserID}") Check-out
					- if ( item.IsPassed == 0 && item.MaxExtensionBreached != 1)
						a(class="btn extendBtn",data-toggle="modal",data-item="#{item.ItemID}",data-user="#{item.UserID}") Extend 
					- else 
						span.label.label-important NO EXTENSIONS LEFT
	div.modal.fade.hide(id="book-search-results")
	div.modal.fade.hide(id="extend-membership")
		div.modal-header
			a.close(data-dismiss="modal") ×
			h3 Extend Membership
		div.modal-body#membership-cost			
		div.modal-footer
			div.alert.alert-success.hide#extend-membership-status Membership extended successfully
			a(href="#",class="btn") Cancel
			a(href="#",class="btn btn-primary",id="extend-membership-confirm-btn") Confirm
	div.modal.fade.hide(id="check-out-modal")
		div.modal-header
			a.close(data-dismiss="modal") ×
			h3 Complete check-out
		div.modal-body#check-out-message
		div.modal-footer
			div.alert.alert-success.hide#check-out-status Item is checked out successfully
			a(href="#",class="btn") Cancel
			a(href="#",class="btn btn-primary",id="confirm-checkout-btn") Check-out